#fold {
  min-height: 90vh;
}

#fold .container {
  padding-top: 10vh;
}

#grid > div .row {
  padding: 5px 0;
}

#grid > div .row > div,
.example-grid .row > div {
  border: 1px solid #eaeaea;
  background: #fbfbfb;
  padding: 5px 8px;
}

/* Code examples shown in the page */

.code-example {
	width: 100%;
  max-width: 100%;
  display: inline-block;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow: auto;
}
