// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 850px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Typography
$font-primary: "Source Sans Pro", Arial, sans-serif !default;
$font-header: "Montserrat", "Source Sans Pro", Arial, sans-serif !default;

// Misc
$global-radius: 4px !default;

// Colors
$light-grey: #e1e1e1 !default;
$default-grey: #f5f9fb !default;
$dark-grey: #333 !default;
$primary-color: #4c84ff !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #7bb8fe !default;
$font-color: #222 !default;

$light-blue: #7bb8fe !default;
$medium-blue: #3598fe !default;
$dark-blue: #048bff !default;

$main-red: #f94e4e;
$light-red: lighten($main-red, 13.5%) !default;
$dark-red: darken($main-red, 6.5%) !default;

$main-green: #19d778;
$light-green: lighten($main-green, 13.5%) !default;
$dark-green: darken($main-green, 6.5%) !default;

$main-dark: #444;
$light-dark: lighten($main-dark, 13.5%) !default;
$dark-dark: darken($main-dark, 6.5%) !default;
