// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

$button-height: auto;
$button-text-size: .9rem;
$button-padding: 11px 25px 11px 25px;
$button-before-size: 1.1rem;
$button-before-margin: 1px 5px 0 0;

$button-lg-text-size: 1.06rem;
$button-lg-padding: 13px 30px 12px 30px;
$button-lg-before-size: 1.308rem;
$button-lg-before-margin: 1px 5px 0 0;

$button-sm-text-size: .7rem;
$button-sm-padding: 8px 22px 7px 22px;
$button-sm-before-size: 0.88rem;
$button-sm-before-margin: 1px 5px 0 0;

$button-tag-text-size: .6rem;
$button-tag-padding: 6px 13px 5px 13px;
$button-tag-before-size: .8rem;
$button-tag-before-margin: 0px 5px 0 0;

$button-weight: 300;
$button-weight-colored: 200;

$button-pill-radius: 30px;

//

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: $button-height;
  padding: $button-padding;
  color: $secondary-color;
  text-align: center;
  font-size: $button-text-size;
  font-weight: $button-weight;
  letter-spacing: -.002;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: $global-radius;
  border: 1px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;
  line-height: inherit;
  font-family: $font-header;
  

  &:before {
    font-size: $button-before-size;
    float: left;
    margin: $button-before-margin;
  }

  &.lg {
    font-size: $button-lg-text-size;
    padding: $button-lg-padding;

    &:before {
      font-size: $button-lg-before-size;
      margin: $button-lg-before-margin;
    }
  }
  &.sm {
    font-size: $button-sm-text-size;
    padding: $button-sm-padding;

    &:before {
      font-size: $button-sm-before-size;
      margin: $button-sm-before-margin;
    }
  }
  &.tag {
    font-size: $button-tag-text-size;
    padding: $button-tag-padding;

    &:before {
      font-size: $button-tag-before-size;
      margin: $button-tag-before-margin;
    }
  }
  &.bold {
    text-transform: uppercase;
  }
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: $dark-grey;
  border-color: lighten($dark-grey, 33.3%);
  outline: 0;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}


// Primary Button
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: $dark-blue;
  border-color: $dark-blue;
  font-weight: $button-weight-colored;

  &.hollow {
    color: $dark-blue;
    background-color: transparent;
    border-color: $dark-blue;
  }
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: $medium-blue;
  border-color: $medium-blue;
}


// Red Button
.button.button-red,
button.button-red,
input[type="submit"].button-red,
input[type="reset"].button-red,
input[type="button"].button-red {
  color: #fff;
  background-color: $main-red;
  border-color: $main-red;
  font-weight: $button-weight-colored;

  &.hollow {
    color: $dark-red;
    background-color: #fff;
    border-color: $dark-red;
  }
}

.button.button-red:hover,
button.button-red:hover,
input[type="submit"].button-red:hover,
input[type="reset"].button-red:hover,
input[type="button"].button-red:hover {
  background-color: $dark-red;
  color: #fff;
}


// Green Buttons
.button.button-green,
button.button-green,
input[type="submit"].button-green,
input[type="reset"].button-green,
input[type="button"].button-green {
  color: #fff;
  background-color: $main-green;
  border-color: $main-green;
  font-weight: $button-weight-colored;

  &.hollow {
    color: $main-green;
    background-color: #fff;
    border-color: $dark-green;
  }
}

.button.button-green:hover,
button.button-green:hover,
input[type="submit"].button-green:hover,
input[type="reset"].button-green:hover,
input[type="button"].button-green:hover {
  background-color: $dark-green;
  color: #fff;
}

// Dark Buttons
.button.button-dark,
button.button-dark,
input[type="submit"].button-dark,
input[type="reset"].button-dark,
input[type="button"].button-dark {
  color: #fff;
  background-color: $main-dark;
  border-color: $dark-dark;
  font-weight: $button-weight-colored;
}

.button.button-dark:hover,
button.button-dark:hover,
input[type="submit"].button-dark:hover,
input[type="reset"].button-dark:hover,
input[type="button"].button-dark:hover {
  background-color: $dark-dark;
}

// Pill
.button.pill,
button.pill,
input[type="submit"].pill,
input[type="reset"].pill,
input[type="button"].pill {
  border-radius: $button-pill-radius;
}

// Circle
.button.circle,
button.circle,
input[type="submit"].circle,
input[type="reset"].circle,
input[type="button"].circle {
  border-radius: 200px;
  padding: 0;
  width: 38px;
  height: 38px;

  &:before {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  &.lg {
    width: 44px;
    height: 44px;
  }

  &.sm {
    width: 32px;
    height: 32px;
  }

  &.tag {
    width: 28px;
    height: 28px;
  }
}