// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

$input-padding: 8px 10px;
$input-icon-padding: 8px 10px 8px 30px;
$icon-margin: 10px 0 0 10px;
$input-background: #fff;
$input-border: 1px solid lighten($border-color, 8.8%);

$input-lg-text-size: 1.3rem;
$input-clear-padding: 9px 10px;

$input-lg-height: 44px;
$input-height: 36px;
$input-sm-height: 30px;

//

input,
textarea,
select,
fieldset {
  margin-bottom: 1rem;
}

//

textarea,
select {
  height: $input-height;
  padding: $input-padding; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: $input-background;
  border: $input-border;
  border-radius: $global-radius;
  box-shadow: none;
  box-sizing: border-box;

  &.clear {
    padding: $input-clear-padding;
    border-top: none !important;
    border-left: none !important;
    border-radius: 0;
    border-right: none !important;
  }

  &.lg {
    font-size: $input-lg-text-size;
    height: $input-lg-height;
  }
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: $input-height;
    padding: $input-padding; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: $input-background;
    border: $input-border;
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;

    &.clear {
      padding: $input-clear-padding;
      border-top: none !important;
      border-left: none !important;
      border-radius: 0;
      border-right: none !important;
    }

    &.lg {
      font-size: $input-lg-text-size;
      height: $input-lg-height;
    }
  }
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border: 1px solid darken($border-color, 9.5%);
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border: 1px solid darken($border-color, 9.5%);
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.form-icon {
  position: absolute;
  z-index: 9;
  font-size: 1em;
  color: darken($border-color, 9.5%);
  margin: $icon-margin;
  
  + input {
    padding: $input-icon-padding;
  }
}
