// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

.list-reset {
	list-style: none;
    padding-left: 0;
}

.list-inline li {
	list-style: none;
	display: inline-block;
    padding-left: 0;
}