.modal {
	position: relative;
	border: 1px solid #e1e1e1;
	border-radius: $global-radius;
	padding: 20px 20px 0 20px	;

	.modal-header {
		h1,h2,h3,h4,h5 {
			display: inline-block;
			margin: 0;
		}

		.close-btn {
			color: #666;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 1rem;
			cursor: pointer;
			position: absolute;
			right: 15px;
			top: 15px;

			&:before {
				color: #666;
				display: block;
				font-size: 2.0rem;
			}
		}
	}

	.modal-body {}

	.modal-footer {}
}