// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: $font-header;
}

h1 { font-size: 3.0rem; line-height: 1.2;}
h2 { font-size: 2.6rem; line-height: 1.25;}
h3 { font-size: 2.0rem; line-height: 1.3;}
h4 { font-size: 1.8rem; line-height: 1.35;}
h5 { font-size: 1.2rem; line-height: 1.5;}
h6 { font-size: 0.8rem; line-height: 1.6;}

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 3.7rem; }
  h2 { font-size: 2.9rem; }
  h3 { font-size: 2.3rem; }
  h4 { font-size: 1.7rem; }
  h5 { font-size: 1.1rem; }
  h6 { font-size: .8rem; }
}

p {
  margin-top: 0;
}

.bold-header {
  font-weight: 600;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase; 
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}
